.container-gallery{
    width: 100%;
    .gallery{
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-y: auto;
        width: 100%;
        justify-content: center;
    
        
        &-images{
            width: 120px;
            object-fit: cover;
            border-radius: 6px;
            box-shadow: 0px 0px 12px -7px;
        }
    }
}