.welcome-container{
    height: 100vh;
    background-image:url('../../../public/gym-couple.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .welcome{
        position: relative;
        top: 20vh;
    }
}